#Clock
NET clk			LOC = T8		|	IOSTANDARD = "LVCMOS33";

#Keys 
NET btn_2<1>	LOC = E3		|	IOSTANDARD = "LVCMOS33";			## KEY4
NET btn_2<0>	LOC = E4		|	IOSTANDARD = "LVCMOS33";			## KEY3
NET btn<1>		LOC = D3 	| 	IOSTANDARD = "LVCMOS33";       	## KEY2
NET btn<0>		LOC = C3 	| 	IOSTANDARD = "LVCMOS33";       	## KEY1
NET rst			LOC = L3 	| 	IOSTANDARD = "LVCMOS33"; 			## RESET

#VGA
NET rgb<2>		LOC = M13 	| 	IOSTANDARD = "LVCMOS33";        	## VGA R4
NET rgb<1>		LOC = P11 	| 	IOSTANDARD = "LVCMOS33";        	## VGA G4
NET rgb<0>		LOC = L7 	| 	IOSTANDARD = "LVCMOS33";        	## VGA B4

NET vsync		LOC = L13 	| 	IOSTANDARD = "LVCMOS33";        	## VGA VS
NET hsync		LOC = M14 	| 	IOSTANDARD = "LVCMOS33";        	## VGA HS  

#Diode
NET led1p<0>                LOC = P4 | IOSTANDARD = "LVCMOS33";       ## LED1
NET led1p<1>                LOC = N5 | IOSTANDARD = "LVCMOS33";       ## LED2
NET led2p<0>                LOC = P5 | IOSTANDARD = "LVCMOS33";       ## LED3
NET led2p<1>                LOC = M6 | IOSTANDARD = "LVCMOS33";       ## LED4

#Buzzer
NET beep  LOC = J11 | IOSTANDARD = "LVCMOS33";  ##  Buzzer output

##################################################################################
## 7-Segment Display Pins 
##################################################################################
NET SEG<0>  LOC = C7 | IOSTANDARD = "LVCMOS33";    ## DIG0 - segment A 
NET SEG<1>  LOC = E6 | IOSTANDARD = "LVCMOS33";    ## DIG1 - segment B
NET SEG<2>  LOC = C5 | IOSTANDARD = "LVCMOS33";    ## DIG2 - segment C
NET SEG<3>  LOC = F7 | IOSTANDARD = "LVCMOS33";    ## DIG3 - segment D
NET SEG<4>  LOC = D6 | IOSTANDARD = "LVCMOS33";    ## DIG4 - segment E
NET SEG<5>  LOC = E7 | IOSTANDARD = "LVCMOS33";    ## DIG5 - segment F
NET SEG<6>  LOC = D5 | IOSTANDARD = "LVCMOS33";    ## DIG6 - segment G
NET SEG<7>  LOC = C6 | IOSTANDARD = "LVCMOS33";    ## DIG7 - segment H

NET DIG<5>  LOC = D9 | IOSTANDARD = "LVCMOS33";    ##  SEL0 - digit 1
NET DIG<4>  LOC = E10 | IOSTANDARD = "LVCMOS33";   ##  SEL1 - digit 2
NET DIG<3>  LOC = F10 | IOSTANDARD = "LVCMOS33";   ##  SEL2 - digit 3
NET DIG<2>  LOC = F9 | IOSTANDARD = "LVCMOS33";    ##  SEL3 - digit 4
NET DIG<1>  LOC = E8 | IOSTANDARD = "LVCMOS33";    ##  SEL4 - digit 5
NET DIG<0>  LOC = D8 | IOSTANDARD = "LVCMOS33";    ##  SEL5 - digit 6