#Clock
NET clk 			LOC = T8 	| 	IOSTANDARD = "LVCMOS33";

#Keys 
NET btn<1>		LOC = D3 	| 	IOSTANDARD = "LVCMOS33";       	## KEY2
NET btn<0>		LOC = C3 	| 	IOSTANDARD = "LVCMOS33";       	## KEY1
NET rst			LOC = L3 	| 	IOSTANDARD = "LVCMOS33"; 			## RESET

#VGA
NET rgb<2>		LOC = M13 	| 	IOSTANDARD = "LVCMOS33";        	## VGA R4
NET rgb<1>		LOC = P11 	| 	IOSTANDARD = "LVCMOS33";        	## VGA G4
NET rgb<0>		LOC = L7 	| 	IOSTANDARD = "LVCMOS33";        	## VGA B4

NET vsync		LOC = L13 	| 	IOSTANDARD = "LVCMOS33";        	## VGA VS
NET hsync		LOC = M14 	| 	IOSTANDARD = "LVCMOS33";        	## VGA HS  